<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LLamado a una API Rest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="getAllData()">Todos</ion-button>
    <ion-button (click)="getData()">Un solo</ion-button>
    <ion-button (click)="createData()">Crear objeto</ion-button>
    <ion-button (click)="updateData()">Actualizar objeto</ion-button>
    <ion-button (click)="deleteData()">Borrar objeto</ion-button>
  </div>
</ion-content>
