<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      LLamado a una API Rest
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-button (click)="getAllTasks()">Todos</ion-button>
    <ion-button (click)="getTask()">Un solo</ion-button>
    <ion-button (click)="createTask()">Crear objeto</ion-button>
    <ion-button (click)="updateTask()">Actualizar objeto</ion-button>
    <ion-button (click)="deleteTask()">Borrar objeto</ion-button>
  </div>
</ion-content>
